video {
 width:100%;
 background:transparent url('assets/images/background.jpg') no-repeat 0 0;
 -webkit-background-size:cover;
 -moz-background-size:cover;
 -o-background-size:cover;
 background-size:cover;
}
